<div id="login">
    <h1 id="titulo">Cadastro</h1>
    <div class="form">
   <input type="text" name="text" autocomplete="off" required [(ngModel)]="nome"/>
    <label for="text" class="label-name">
      <span class="content-name">
        Nome
      </span>
    </label>
</div><br>
<div class="form">
    <input type="text" name="text" autocomplete="off" required [(ngModel)]="email"/>
    <label for="text" class="label-name">
      <span class="content-name">
        Email
      </span>
    </label>
</div><br>
<div class="form">
    <img src="https://cdn0.iconfinder.com/data/icons/ui-icons-pack/100/ui-icon-pack-14-512.png" id="olho" class="olho" (mouseup)="olhoUm1()" (mousedown)="olhoUm2()" (mousemove)="olhoUm3()">
    <input type="password" name="text" autocomplete="off" required  [(ngModel)]="pass" class="pass"/>
    <label for="text" class="label-name">
      <span class="content-name">
        Senha
      </span>
    </label>
</div><br>
<div class="form">
  <img src="https://cdn0.iconfinder.com/data/icons/ui-icons-pack/100/ui-icon-pack-14-512.png" id="olho2" class="olho" (mouseup)="olhoDois1()" (mousedown)="olhoDois2()" (mousemove)="olhoDois3()">
  <input type="password" name="text" autocomplete="off" required  [(ngModel)]="confPass" class="pass"/>
  <label for="text" class="label-name">
    <span class="content-name">
      Confirme a senha
    </span>
  </label>
</div><br>
<div class="form">
    <input type="text" name="text" autocomplete="off" required [(ngModel)]="Estado"/>
    <label for="text" class="label-name">
      <span class="content-name">
        Estado
      </span>
    </label>
</div><br>
<div class="form">
  <input type="text" name="text" autocomplete="off" required [(ngModel)]="Cidade"/>
  <label for="text" class="label-name">
    <span class="content-name">
      Cidade
    </span>
  </label>
</div><br>
<div class="form">
<input type="text" name="text" autocomplete="off" required [(ngModel)]="Bairro"/>
<label for="text" class="label-name">
  <span class="content-name">
    Bairro
  </span>
</label>
</div><br>
<div>
  <div class="radio">
<input type="radio" id="Masc" name="genero" value="masc">
<label for="Masc">Masculino</label><br>
</div><br>
<div class="radio">
<input type="radio" id="Fem" name="genero" value="fem">
<label for="Fem">Feminino</label>
</div>
</div><br>
<div class="form">
<input type="number" name="text" autocomplete="off" required [(ngModel)]="idade" min="0" max="160"/>
<label for="text" class="label-name">
<span class="content-name">
  Idade
</span>
</label>
</div><br>
<div class="form">
<input type="text" name="text" autocomplete="off" required [(ngModel)]="link"/>
<label for="text" class="label-name">
<span class="content-name">
  Link imagem
</span>
</label>
</div><br>
<div id="MSGError">
  
</div>
<input type="submit" id="enviar" (click)="objeto()">
</div>