*{
    margin: 0%;
}

body{
    background-color: black;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(175, 2, 2), rgb(138, 43, 43));
}