 <h1 style="color: aliceblue;">All brothers and sisters that we have</h1>
 <div id="cadastros">
    <fieldset style="color: aliceblue; width: 60%; border-radius: 20px;" *ngFor="let brother of brothers">
        <legend *ngIf="brother.genero == 'Feminino'; else elseBlock" [style.color]="cor">Sister</legend>
        <ng-template #elseBlock><legend *ngIf="brother.genero == 'Masculino'; else elseBlock2" [style.color]="cor">Brother</legend></ng-template>
        <ng-template #elseBlock2><legend *ngIf="brother.genero == 'Neutro'" [style.color]="cor">Entity</legend></ng-template>
        <ul  style='list-style: none; margin-left: -20%;'>
        <li >{{brother.nome}}</li>
        <li>{{brother.email}}</li>
        <li>{{brother.Estado}}</li>
        <li>{{brother.Cidade}}</li>
        <li>{{brother.Bairro}}</li>
        <li>{{brother.idade}}</li>
        <li [style.color]="cor">{{brother.genero}}</li>
        <li><img src="{{brother.link}}" width="50" height="50"></li>
        <li><meu-botao></meu-botao></li>
    </ul>
</fieldset>
</div>